<% if concert.errors.any? %>
  <div id="error_explanation">
      <h2><%= pluralize(concert.errors.count, "error") %> prohibited this concert from being saved:</h2>

      <ul>
      <% concert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  </div>
  <% end %>
<%= form_for(concert) do |f| %>
  
  Date: <%= f.date_select :date, {order: [:month, :day, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' }, start_year: Date.today.year, end_year: Date.today.year + 2}, {required: true} %> <br />
  Time: <%= f.text_field :time %> <br />
  Venue: <%= f.collection_select :venue_id, Venue.order(:name),:id,:name, include_blank: true %> <br />
  <%= f.fields_for :bands do |band_form| %>
    Band: <%= band_form.text_field :name %> <br />
  <% end %>

    

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
